body { 
    background-color: #DAE0E6;

}
.App { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.Nav { 
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 6vh; 
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.nav-links { 
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

#face { 
    color: #FF4500;
}

#home-link { 
    font-family: 'Varela Round', sans-serif;
}

#profile, #notifications, #home-link { 
    list-style: none;
    text-decoration: none;
    color: black;
    align-items: center;
    margin-left: 20px;
}

#searchbar { 
    height: 3vh; 
    width: 30%;
}

/* Readits Section */

.readit-holder {
    margin-top: 20px;
    width: 40%;
    
}

.readit-posts {
    padding: 10px;
    margin-top: 25px;
    background-color: white;
}

.posted-by { 
    font-weight: lighter;
    font-size: smaller;
}

.title { 
    font-weight: bold; 
    font-size: large;
}

.post-content { 
    object-fit: contain;
}

.post-image { 
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    object-fit: contain;
}